body {
    margin: 0;
}

img {
    width: 100%;
}

#screen {
    /* create a grid with only one cell */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    /* make a 16:9 sized box that takes on the width of the window */
    aspect-ratio: 16 / 9;
    width: 100%;
}
#game {
    grid-area: 1 / 1;
    background-color: blue;

    overflow: hidden;

    /* create a grid with only one cell */
    display: grid;
    grid-template-columns: 10% / 10%;
    grid-template-rows: 100%;
}

#game_background {
    grid-area: 1 / 1;
    background-image: url(svg/baggrund.svg);
    background-size: cover;
}
#game_elements {
    grid-area: 1 / 1;
    position: relative;
    overflow: hidden;
}

/* spil elementer */

#carljohan1_container {
    width: 13%;
    position: absolute;
    top: 18%;
    left: 37%;
}

#carljohan2_container {
    width: 11%;
    position: absolute;
    top: 72%;
    left: 73%;
}

#fluesvamp_container {
    width: 17%;
    position: absolute;
    top: 44%;
    left: 48%;
}

#stinksvamp_container {
    width: 20%;
    position: absolute;
    top: 18%;
    left: 18%;
}

#game_foreground {
    grid-area: 1 / 1;
    background-image: url(svg/forgrund.svg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#game_ui {
    grid-area: 1 / 1;
    position: relative;
}

/* ui-elementer */
#time_board {
    width: 5.6%;
    position: absolute;
    top: 66.5%;
    left: 4%;
}
#score_board {
    width: 23%;
    position: absolute;
    top: 69%;
    left: 11%;
}
#energy_board {
    width: 26%;
    position: absolute;
    top: 83%;
    left: 3%;
}
